@font-face{
  font-family: "Google";
  src: url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
} 

.App {
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: 250px repeat(4, 1fr);
}

.header {
  display: grid;
  grid-template-columns: 250px 3fr 2fr;
  background: #363c3c;
  grid-column: 1 / -1;
}

.sidebar {
  display: flex;
  flex-direction: column;
  background: #d6d8d8;
  grid-column: 1 / 2;
  grid-row: 2 / -1;
}

.view-body {
  background: rgb(255, 255, 255);
  grid-column: 2 / -1;
  grid-row: 2 / -1;
}

.logo-container {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-column: 1;
}

.logo {
  position: relative;
  right: 2em;
}

.random-color-button {
  position: relative;
  top: 4em;
  margin: 2em;
  padding: 0;
  height: 4em;
  border-radius: 12px;
  font-size: 16px;
  font-weight: bold;
  font-family: Google;
  border: none;
}
