.content-wrapper {
    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255);
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    padding: 20px;
    justify-content: center;
    align-items: center;
    overflow: auto;
  }

  .color-list {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 100%;
    height: 90%;
  }

  .loading{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    flex-direction: column;
  }
